/*=============== STEPS ===============*/
.steps__bg {
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
  }
  .steps__container {
    gap: 2rem;
    padding-top: 1rem;
  }
  .steps__title {
    color: #FFF;
  }
  .steps__card {
    background-color: var(--container-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
  }
  .steps__card:hover .steps__card-number {
    transform: translateY(-0.25rem);
  }
  .steps__card-number {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: #FFF;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
    transition: 0.3s;
  }
  .steps__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
  }
  .steps__card-description {
    font-size: var(--small-font-size);
  }
  